[submodule "Core/Kernel/External/printf"]
	path = Core/Kernel/External/printf
	url = https://github.com/eyalroz/printf.git
[submodule "Core/Kernel/Platforms/x86_64/pc-uefi.platform/External/limine"]
	path = Core/Kernel/Platforms/x86_64/pc-uefi.platform/External/limine
	url = https://github.com/limine-bootloader/limine.git
